<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header %>
<div class="mdl-grid" style="align-items: center; justify-content: center;">

<% posts.forEach(function(post) { %>

<div class="mdl-card mdl-cell--middle mdl-shadow--4dp mdl-card--border mdl-cell mdl-cell--8-col ">
  <div class="mdl-card__title" style="height: 176px; background: url('<%= post.image %>') center / cover; color: #fff;">
     <h2 class="mdl-card__title-text"><%= post.title %> </h2>
  </div>
  <div class="mdl-card__supporting-text">
  <%= post.description %>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="post/<%= post.rowid %>">
      View Post
    </a>
</div>
 </div>
  <% }); %>
</div>
</main>
<% include ../partials/footer %>

  


</body>

</html>
